* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#f3f3f3, #e0e0e0);
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  font-size: 1.05em;
  font-weight: 600;
  color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.refs{
  font-size: 1.2em;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:   center;
  padding: 40px;
}
#main-page{
  display: grid;
}
#welcome-page {
  
  
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: width 2s;
  
}

#welcome-page h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

#welcome-page p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
#nu-stiu{
  padding: 20px;
  display: flex;
  justify-content: center;
}
#welcome-button{
  background-color: #fff;
  padding: 20px;
  width: 200px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: 1s;
}
#welcome-button:hover{
  background-color:#545454;
  color:white;
}
#welcome-page-statistics-block{
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
#welcome-page-statistic{

}
footer {
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666;
  padding-bottom: 10px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.item {
  background-color: #ffffff;
  height: 150px;
  width: 115px;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.item_pic {
  height: 50px;
  margin-bottom: 8px;
}

.item_text {
  font-size: 13px;
  color: #333;
}
